*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.contanier
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    background: #131419;
}
.registration_form
{
    position: relative;
    width: 60%;
    height: auto;
    margin-top: 7%;
    margin-bottom: 7%;
    border-radius: 10px;
    background: #131419;
    text-align: center;
    box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.05),
                 5px 5px 15px rgba(0, 0, 0, 0.5);
}
.registration_form #title
{
    color:  #ff0047;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin-top: 10px;
    margin-bottom: 20px;
    font-family: 'Andada Pro', serif;
    font-family: 'PT Serif', serif;
}
.input_box
{
    margin-top: 15px;
    width: 100%;
    height: auto;
    padding-top: 5px;
    padding-bottom: 5px; 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
  
#reg_input
{
   
    width: 40%;
    height: 50px;
    border: none;
    outline: none;
    box-sizing: border-box;
    margin-bottom: 5px;
    font-size: 18px;
    margin-top: 10px;
    margin-right: 10px;
    color: #03a9f4;
    background: #131419;
    border-radius: 40px;
    padding: 5px 15px;
    box-shadow: inset -2px -2px 6px rgba(255, 255, 255, 0.1),
                inset 2px 2px 6px rgba(0, 0, 0, 0.8);
}  


#reg_inputs
{
   
    width: 80%;
    height: 50px;
    border: none;
    outline: none;
    box-sizing: border-box;
    margin-bottom: 5px;
    font-size: 18px;
    margin-top: 10px;
    margin-right: 10px;
    color: #03a9f4;
    background: #131419;
    border-radius: 40px;
    padding: 5px 15px;
    box-shadow: inset -2px -2px 6px rgba(255, 255, 255, 0.1),
                inset 2px 2px 6px rgba(0, 0, 0, 0.8);
}  
#reg_btn 
{
    width: 40%;
    height: 50px;
    margin-bottom: 25px;
    color:  #ff0047;
    border-radius: 20px;
    cursor: pointer;
    background: #131419;
    font-weight: 900;
    transition: 0.5s;
    margin-top: 25px;
    box-shadow: -2px -2px 6px rgba(255, 255, 255, 0.1),
                 2px 2px 6px rgba(0, 0, 0, 0.8);
}
  
#reg_btn:hover 
{
    color: #006c9c;
    margin-top: 25px;
    box-shadow: inset -2px -2px 6px rgba(255, 255, 255, 0.1),
                inset 2px 2px 6px rgba(0, 0, 0, 0.8);
}


@media screen and (max-width:768px)
{
    .registration_form
    {
        width: 90%;
        height: auto;
    }
    .input_box
    {
        flex-direction: column;
    }
    #reg_input
    {
        width: 80%;
        margin: auto;
        margin-top: 15px;
    }
    
}
